<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>All-In-One</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
  
</head>
<body>
  <header>
    <div class="logo">All-In-One</div>
  </header>

  <main>
    <h1>Welcome to All-In-One Tools</h1>
    <div class="subtitle">Edit, Convert, Create 🎉</div>

    <h2>Video Tools</h2>
    <div class="grid">
        <a href="/merge" class="tool-card"><div class="tool-icon">🔗</div><div>Merge Videos</div></a>
        <a href="/video-to-audio" class="tool-card"><div class="tool-icon">🎵</div><div>Extract Audio</div></a>
        <a href="/screen-recorder" class="tool-card"><div class="tool-icon">🎥</div><div>Screen Recorder</div></a>
    </div>

    <h2>Audio Tools</h2>
    <div class="grid">
        <a href="/trim-audio" class="tool-card"><div class="tool-icon">✂️</div><div>Trim Audio</div></a>
        <a href="/merge-audio" class="tool-card"><div class="tool-icon">🎶</div><div>Merge Audio</div></a>
        <a href="/record-audio" class="tool-card"><div class="tool-icon">🎤</div><div>Voice Recorder</div></a>
        <a href="/reverse-audio" class="tool-card"><div class="tool-icon">⏪</div><div>Reverse Audio</div></a>
    </div>
    <h2>PDF Tools</h2>
    <div class="grid">
      <a href="/split-pages" class="tool-card"><div class="tool-icon">✂️</div><div>Split Pages</div></a>
      <a href="/merge-pdf" class="tool-card"><div class="tool-icon">🔗</div><div>Merge PDF</div></a>
      <a href="/pdf-to-word" class="tool-card"><div class="tool-icon">📄</div><div>PDF to Word</div></a>
      <a href="/word-to-pdf" class="tool-card"><div class="tool-icon">📝</div><div>Word to PDF</div></a>
      <a href="/image-to-pdf" class="tool-card"><div class="tool-icon">🖼️</div><div>Image to PDF</div></a>
    </div>
    <h2>Others</h2>
    <div class="grid">
      <a href="/compress-zip" class="tool-card"><div class="tool-icon">🗜️</div><div>Compress to Zip</div></a>
      <a href="/download-video" class="tool-card"><div class="tool-icon">📽️</div><div>Download Video</div></a>
      <a href="/download-audio" class="tool-card"><div class="tool-icon">🎼</div><div>Download Audio</div></a>
    </div>

  </main>
</body>
<footer>
  <p><div>&copy; 2025 All-In-One Tools by <a href="" id="name">Sanjay</a></div></p>
</footer>
</html>