<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Merge Videos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
  <h1>Merge Two Videos</h1>
  <form action="/merge-videos" method="post" enctype="multipart/form-data">
    <label>Select First Video:</label>
    <input type="file" name="video1" accept="video/*" required><br><br>

    <label>Select Second Video:</label>
    <input type="file" name="video2" accept="video/*" required><br><br>

    <button type="submit">Start</button>
  </form>
</body>
</html>
